<p id="notice"><%= notice %></p>

<p>
  <strong>Id utilisateur:</strong>
  <%= @film_vue.id_utilisateur %>
</p>

<p>
  <strong>Id film:</strong>
  <%= @film_vue.id_film %>
</p>

<%= link_to 'Edit', edit_film_vue_path(@film_vue) %> |
<%= link_to 'Back', film_vues_path %>
