<%= form_for(@administrateur) do |f| %>
  <% if @administrateur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administrateur.errors.count, "error") %> prohibited this administrateur from being saved:</h2>

      <ul>
      <% @administrateur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pseudo %><br>
    <%= f.text_field :pseudo %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :mail %><br>
    <%= f.text_field :mail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
